/* styles.css */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

#result {
    display: block; /* 修改这里使得结果默认显示 */
}

#resultImage1, #resultImage2, #resultImage3, #resultImage4 {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
